@model IEnumerable<SoilMuseum.Models.Division>

@{
    ViewBag.Title = "DivisionList";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h4>Division List</h4>

<p>
    @Html.ActionLink("Create New", "Division")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Division_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Division_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "DivisionUpdate", new { id=item.Division_ID }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.Division_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Division_ID })*@
        </td>
    </tr>
}

</table>
