
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Soil @ViewBag.title</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon_16.ico" />
    <link rel="bookmark" href="favicon_16.ico" />
    <!-- site css -->
    <link href="~/Content/dist/css/site.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/dist/js/site.min.js"></script>
</head>
<body>
    <div>
        <!--nav-->
        <nav role="navigation" class="navbar navbar-custom">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Default")" class="navbar-brand">Soil Museum</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <!-- <li class="disabled"><a href="#">Link</a></li> -->
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Profile <b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                @*<li><a href="#">Update Information</a></li>*@
                                <li class="disabled"><a href=@Url.Action("LogOut","Login")>Signout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!--header-->
        <div class="container-fluid">
            <!--documents-->
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas " role="navigation">
                    <ul class="list-group panel">
                        <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>SIDE PANEL</b></li>
                        @*<li class="list-group-item"><input type="text" class="form-control search-query" placeholder="Search Something"></li>*@

                        <li class="list-group-item">@Html.ActionLink("Dashboard", "Index", "Default") </li>

                        @*<li>
                            <a href="#demo4" class="list-group-item " data-toggle="collapse">Client <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <ul class="collapse" id="demo4">
                                <li class="list-group-item">@Html.ActionLink("Client Registration", "ClientRegistration", "Client")</li>
                                <li class="list-group-item">@Html.ActionLink("Client Information", "ClientInformation", "Client")</li>
                                @*<li class="list-group-item">@Html.ActionLink("Client Service Add", "ClientServicecAdd", "Client")</li>
                                <li class="list-group-item">@Html.ActionLink("Client Service List", "ClientServiceList", "Client")</li>
                            </ul>
                        </li>*@

                        <li>
                            <a href="#demo5" class="list-group-item " data-toggle="collapse">Employee <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <ul class="collapse" id="demo5">
                                <li class="list-group-item">@Html.ActionLink("Employee Registration", "EmployeeRegistration", "Employee")</li>
                                <li class="list-group-item">@Html.ActionLink("Employee Information", "EmployeeList", "Employee")</li>
                                <li class="list-group-item">@Html.ActionLink("Designation Add", "DesignationAdd", "Employee")</li>
                                <li class="list-group-item">@Html.ActionLink("Designation Information", "Designation_List", "Employee")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#demo6" class="list-group-item " data-toggle="collapse">Location <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <ul class="collapse" id="demo6">
                                <li class="list-group-item">@Html.ActionLink("Division", "DivisionList", "Address")</li>
                                <li class="list-group-item">@Html.ActionLink("Zila", "Zilalist", "Address")</li>
                                <li class="list-group-item">@Html.ActionLink("Upo-Zila", "UpozilaList", "Address")</li>
                                @*<li class="list-group-item">@Html.ActionLink("Add Schedule Time", "AddScheduleTime", "Schedule")</li>*@
                            </ul>
                        </li>
                        @*<li>
                            <a href="#demo7" class="list-group-item " data-toggle="collapse">Service <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <ul class="collapse" id="demo7">
                                <li class="list-group-item">@Html.ActionLink("Service Add", "ServiceAdd", "Service")</li>
                                <li class="list-group-item">@Html.ActionLink("Service Information", "ServiceInformation", "Service")</li>
                            </ul>
                        </li>*@
                        @*<li>
                            <a href="#demo11" class="list-group-item " data-toggle="collapse">Account <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <ul class="collapse" id="demo11">
                                <li class="list-group-item">@Html.ActionLink("Client Bill", "ClientBill", "Account")</li>
                                <li class="list-group-item">@Html.ActionLink("Create Bill", "CreateBill", "Account")</li>
                                <li class="list-group-item">@Html.ActionLink("Bill Transection", "BillTransection", "Account")</li>
                            </ul>
                        </li>*@
                        @*<li class="list-group-item">@Html.ActionLink("Attendence", "AttendenceView", "Attendance")</li>
                        <li>
                            <a href="#demo8" class="list-group-item " data-toggle="collapse">Product <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <ul class="collapse" id="demo8">
                                <li class="list-group-item">@Html.ActionLink("Product Sell", "ProductSell", "Product")</li>
                                <li class="list-group-item">@Html.ActionLink("Product Sell Information", "ProductSellInfo", "Product")</li>
                                <li class="list-group-item">@Html.ActionLink("Product Storage", "ProductStorage", "Product")</li>
                                <li class="list-group-item">@Html.ActionLink("Product Buy", "ProductAdd", "Product")</li>
                                <li class="list-group-item">@Html.ActionLink("Product Buy Information", "ProductAddInfo", "Product")</li>
                                <li class="list-group-item">@Html.ActionLink("Product Plan", "ProductPlan", "Product")</li>
                                <li class="list-group-item">@Html.ActionLink("Product Plan Inforation", "ProductPlanInfo", "Product")</li>
                            </ul>
                        </li>*@

                        @*<li>
                            <a href="#demo12" class="list-group-item " data-toggle="collapse">Client Food Plan<span class="glyphicon glyphicon-chevron-right"></span></a>
                            <ul class="collapse" id="demo12">
                                <li class="list-group-item">@Html.ActionLink("Client Food Plan Add", "FoodPlanAdd", "FoodPlan")</li>
                                <li class="list-group-item">@Html.ActionLink("Client Food Plan List", "FoodPlanList", "FoodPlan")</li>

                            </ul>
                        </li>*@


                        @*<li>
                            <a href="#demo10" class="list-group-item " data-toggle="collapse">Expense <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <ul class="collapse" id="demo10">
                                <li class="list-group-item">@Html.ActionLink("Expense Add", "ExpenseAdd", "Expense")</li>
                                <li class="list-group-item">@Html.ActionLink("Expense List", "ExpenseList", "Expense")</li>

                            </ul>
                        </li>*@
                        <li>
                            <a href="#demo9" class="list-group-item " data-toggle="collapse">Report <span class="glyphicon glyphicon-chevron-right"></span></a>
                            <ul class="collapse" id="demo9">
                                <li class="list-group-item">@Html.ActionLink("Company Profits", "Profit", "Report")</li>
                                @*<li class="list-group-item">@Html.ActionLink("Product Storage Report", "ProductStorageReport", "Report")</li>
                            <li class="list-group-item">@Html.ActionLink("Product Plan Report", "ProductPlanReport", "Report")</li>
                            <li class="list-group-item">@Html.ActionLink("Product Expense Report", "ProductExpenseReport", "Report")</li>*@

                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-9 content">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a> @RenderBody()</h3>
                        </div>

                    </div>
                </div><!-- content -->
            </div>
        </div>
        <!--footer-->

    </div>

</body>
</html>



